**

!.env.example
!.dockerignore
!Dockerfile
!docker-compose.yml
!data/
!.gitignore
!environment.yml
!README.md
!requirements.txt
!notebooks/
!src/
!src/*
!src/data/*
!src/model/*
!setupup.py
!dvc.yaml
!params.yaml
!setup.py
!.dvc
!.dvc/config
!dvc.lock
!scripts/
!scripts/*
!plugin-frontend
!plugin-frontend/*
!flask_api/
!flask_api/*
