# EDA & preprocessing
numpy
pandas
jupyterlab
ipykernel
seaborn 
scikit-learn==1.8.0
wordcloud

# production
boto3
Flask
Flask_Cors
joblib
lightgbm==4.5.0
matplotlib
mlflow
dvc
dvc[s3]
nltk
numpy
pandas
wordcloud
seaborn
-e .
